{% extends '@Admin/layout.html.twig' %}


 {% block contentadmin %}

    <div class="card">
        <div class="overlay" style="display: none;">
            <i class="fa fas fa-sync fa-spin"></i>
        </div>
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-chart-line"></i>
                &nbsp;&nbsp;&nbsp; Tableau de bord
            </h3>
        </div>

        <div class="card-body">
            
        </div>

        <div class="card-footer clearfix text-center"><br>
            
        </div>
    </div>
 {% endblock %}