/*  -------------------------------------------------------
    ------------------->>> VARIABLES <<<----------------------
    -------------------------------------------------------  */

//COLORS

$black: #000;
$white: #fff;


//USE OF COLORS

//FONTS
$fontPath: '/bundles/app/fonts/';

//IMAGES
$imgPath: '/bundles/app/img/';


//BREAK POINTS
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-extra-large: 1200px;
$break-super-large: 1500px;
$break-end: 1900px;
