<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="robots" content="index, follow">
        <meta name="description" content="">

        <title>{% block title %}{{ nom_site }}{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body {% block bodyclass %}{% endblock %}>
    <div id="header" class="site-header">
        {% block header %}{% endblock %}
    </div>
    {% block content %}{% endblock %}
    <footer class="site-footer">
        {% block footer %}{% endblock %}
    </footer>
    {% block javascripts %}{% endblock %}
    </body>
</html>
