# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host_debug: 127.0.0.1
    database_port_debug: ~
    database_name_debug: symfony
    database_user_debug: root
    database_password_debug: ~

    #Paramètre à renseigner pour utiliser le app_debug.php
    definima_media_domain : ~
