/*  -------------------------------------------------------
    ------------------->>> VARIABLES <<<----------------------
    -------------------------------------------------------  */

//COLORS
$colorProject: #bc277a;
$grey: #dee2e6;
$green: green;
$danger: red;
$yellow: yellow;


//USE OF COLORS

//FONTS
$fontPath: '../fonts/';

//IMAGES
$imgPath: '/bundles/app/img/';
