{% extends '::layout-fos.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Mot de passe perdu{% endblock %}

{% block contentFOS %}


    <div class="login-card-body">
        <div class="form-top">
            <h1 class="login">Mot de passe
                <span class="fat">oublié</span>
            </h1>
        </div>
        <div class="form-bottom">
            <p>{{ 'resetting.password_already_requested'|trans }}</p>
            <p>
                <a href="{{ path('admin_login') }}" style="display:inline-block;float:right;">Retour</a>
            </p>
        </div>
    </div>
{% endblock %}
