{% extends "App/layout.html.twig" %}

{% block title %}Espace Candidat - Mot de passe perdu{% endblock %}
{% block bodyclass %}class="loginCandidat candidat"{% endblock %}

{% block titleSite %}{% endblock %}

{% block container %}

    <div class="container">
        <div class="row">
            <div class="login-box in-center col-11 col-sm-6">
                <div class="form-top">
                    <h1 class="login">Mot de passe <span class="fat">perdu</span></h1>
                </div>
                <div class="form-bottom">
                    {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
