{% extends '::layout-fos.html.twig' %}

{% block title %}Mot de passe perdu{% endblock %}

{% block contentFOS %}


    <div class="login-card-body">
        <div class="form-top">
            <h1 class="login">Mot de passe
                <span class="fat">oublié</span>
            </h1>
        </div>
        <div class="form-bottom">
                {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
            </div>
    </div>

{% endblock %}
