{% extends '::layout-fos.html.twig' %}

{% block title %}Mot de passe perdu{% endblock %}

{% block container %}

    <div>
        <div class="card-body login-card-body">
            <div class="form-top">
                <h1 class="login">Modifier votre
                    <span class="fat">mot de passe</span>
                </h1>
            </div>
            <div class="form-bottom">
                {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}
